<mat-sidenav-container>


  <mat-sidenav
    class="sidenav"
    #sidenav
    [opened]="!isSmallScreen"
    [fixedInViewport]="true"
    [mode]="sideNavMode">

    <mat-toolbar >
        <img class="avatar mat-elevation-z4" src="https://static.vecteezy.com/system/resources/thumbnails/027/951/137/small/stylish-spectacles-guy-3d-avatar-character-illustrations-png.png" alt="avatar">
        <a routerLink="/users" class="name">Arthur Lima</a>
        <p class="designation"></p>
    </mat-toolbar>

    <mat-divider></mat-divider>
    <mat-nav-list>

      <a *ngFor="let item of items_menu" mat-list-item [routerLink]="item.link" routerLinkActive="active">
        <mat-icon fontSet="fa" [fontIcon]="item.icon"></mat-icon>
        <span>{{item.label}}</span>
      </a>


      <!-- <a mat-list-item routerLink="formFieldInput">Form field Input</a>
      <a mat-list-item routerLink="progBarSpinner">Progress and Spinner</a>
      <a mat-list-item routerLink="tabs">Tabs</a>
      <a mat-list-item routerLink="datepicker">Datepicker</a>
      <a mat-list-item routerLink="snackbar">Snackbar</a>
      <a mat-list-item routerLink="dialog">Dialog</a>
      <a mat-list-item routerLink="datatable">Datatable</a> -->


    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar
    color="primary"
    class="toolbar-menu"
    [class.mat-elevation-z8]="applyShadow"

    >
      <button mat-icon-button class="example-icon" (click)="sidenav.toggle()"
        aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span *ngIf="popText">My App</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>

    <mat-toolbar color="primary" class="toolbar-submenu">
      <span *ngIf="!popText">My app</span>
    </mat-toolbar>


      <router-outlet></router-outlet>


  </mat-sidenav-content>
</mat-sidenav-container>



