<form [formGroup]="form">

  <div fxLayout="row wrap">


    <mat-form-field class="form-field-category" fxFlex="24" fxFlex.xs="100" fxFlex.sm="24">
      <mat-label>Categoria</mat-label>
      <select matNativeControl formControlName="category">
        <option value="">Selecione</option>
        @for (item of categoryValue; track item) {
        <option [value]="item.value">{{item.value}}</option>
        }
      </select>
    </mat-form-field>

    <mat-form-field fxFlex="50" fxFlex.xs="100" fxFlex.sm="50">
      <mat-label>Filtro</mat-label>
      <input matInput formControlName="search">
      <button matSuffix mat-icon-button (click)="doSearch()">
        <mat-icon matSuffix>search</mat-icon>
      </button>
    </mat-form-field>

      <mat-paginator  fxFlex="26" fxFlex.xs="100" fxFlex.sm="26"
        [length]="totalCount"
        [pageSize]="pageSize"
        [pageSizeOptions]="[5, 10, 25, 100]"
        itemsPerPageLabel=""
        (page)="handlePageEvent($event)">
      </mat-paginator>

      <!-- TODO ADJUST PAGINATION AFTER -->

      <!-- <pagination-controls ></pagination-controls> -->
<!--
      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements">
</mat-paginator> -->




  </div>
</form>


<div fxLayout="row wrap" fxLayoutGap="16px grid">

  <div fxFlex="20" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33" fxFlex.lg="25" *ngFor="let course of courseList">

    <mat-card class="mat-elevation-z4">
      <img mat-card-image src="https://media.istockphoto.com/id/1197121742/photo/happy-shiba-inu-dog-on-yellow-red-haired-japanese-dog-smile-portrait.jpg?s=612x612&w=0&k=20&c=BX-1FWwbxLMK1pj2Bl2x0xRJ-mZRMW7lOOsSrnn3fdA=" alt="Photo of a Shiba Inu">
      <div class="space-titles">
        <mat-card-subtitle>
          {{course.category}}
          <div fxFlex></div>
          <button mat-mini-fab style="margin-top:-32px" class="mat-elevation-z2">
            <mat-icon>favorite</mat-icon>
          </button>
        </mat-card-subtitle>
        <mat-card-title>{{course.name}}</mat-card-title>

      </div>

      <mat-card-content>
        {{course.description}}
      </mat-card-content>
      <mat-divider [inset]="true"></mat-divider>
      <div fxFlex></div>
      <mat-card-actions>
        <button mat-button>INSCREVER</button>
        <div fxFlex></div>
        <button mat-icon-button>
          <mat-icon>share</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>




</div>
